.bg-container {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.main-heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-weight: 300;
  font-size: 42px;
}
.items {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.hp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
